<div class="footer ">
    <div class="container">
        <div class="row des-footer ">
                <div class="col-md-4">
                    <div class="item">
                        <h4>LOCATION</h4>
                        <p>2215 John Daniel Drive </p>
                        <p>Clark, MO 65243 </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <h4>AROUND THE WEB</h4>
                       <div class="links">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                       <a href=""><i class="fa-brands fa-twitter"></i></a>
                       <a href=""><i class="fa-brands fa-linkedin"></i> </a>
                       <a href=""><i class="fa-solid fa-globe mx-1 icon"></i></a>
                       </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <h4>ABOUT FREELANCER</h4>
                        <p>Freelance is a free to use, licensed Bootstrap theme created by Route </p>
                    </div>
                </div>
    </div>
  
</div>
<div class="last-sec-footer">
    <p>Copyright © Your Website 2021 </p>
</div>