<div class="container">
    <div class="row">
        <div class="hero text-center">
            <h1>
                PORTFOLIO COMPONENT
            </h1>
            <span class="position-relative">  <i   class="fa-solid fa-star"></i>
            </span>
           </div>
           <div class="con py-5">
            <div class="input-container w-100 my-3">
                <input type="text" id="username" placeholder=" " required>
                <label for="username">User Name</label>
            </div>
            <div class="input-container w-100 my-3">
                <input type="text" id="userage" placeholder=" " required>
                <label for="userage">User Age</label>
            </div>
            <div class="input-container w-100 my-3">
                <input type="email" id="useremail" placeholder=" " required>
                <label for="useremail">User Email</label>
            </div>
            <div class="input-container w-100 my-3">
                <input type="password" id="userpassword" placeholder=" " required>
                <label for="userpassword">User Password</label>
            </div>
            <button type="button" class="btn btn-secondary ms-0">Send Message</button>
        </div>
        
        

    </div>

</div>
