<section>
   <div class="hero text-center">
    <h1>
        PORTFOLIO COMPONENT
    </h1>
    <span class="position-relative">  <i   class="fa-solid fa-star"></i>
    </span>
   </div>
<section>
    <div class="description"  >
        <div class="container" >
            <div class="row g-5 py-4 ">
                <div class="col-md-4 col-sm-6">
                   <div class="item">
                    <img class="w-100 rounded-3" [src]="image1" alt="#">
                    <div class="layer rounded-3"(click)="focus(image1)">
                        <span><i class="fa-solid fa-plus 
                            "></i></span>
                    </div>
                   </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item">
                     <img class="w-100 rounded-3" [src]="image2" alt="#">
                     <div class="layer rounded-3" (click)="focus(image2)">
                         <span><i class="fa-solid fa-plus 
                             "></i></span>
                     </div>
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6">
                    <div class="item">
                     <img class="w-100 rounded-3" [src]="image3" alt="#">
                     <div class="layer rounded-3" (click)="focus(image3)">
                         <span><i class="fa-solid fa-plus 
                             "></i></span>
                     </div>
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6">
                    <div class="item">
                     <img class="w-100 rounded-3" [src]="image1" alt="#">
                     <div class="layer rounded-3" (click)="focus(image1)">
                         <span><i class="fa-solid fa-plus 
                             "></i></span>
                     </div>
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6">
                    <div class="item">
                     <img class="w-100 rounded-3" [src]="image2" alt="#">
                     <div class="layer rounded-3" (click)="focus(image2)">
                         <span><i class="fa-solid fa-plus 
                             "></i></span>
                     </div>
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6">
                    <div class="item">
                     <img class="w-100 rounded-3" [src]="image3" alt="#">
                     <div class="layer rounded-3" (click)="focus(image3)">
                         <span><i class="fa-solid fa-plus 
                             "></i></span>
                     </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>
</section>
<div class="layer-2 overlay" (click)="closeLayer()">
    <img src="{{image}}" alt="" class="w-100">
</div>
