<nav class="navbar navbar-expand-lg bg-body-tertiary nav-bbar ">
    <div class="container">
      <a class="navbar" routerLink="home">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav-sec" id="navbarNav">
        <ul class="navbar-nav">
         
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="tt" >ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="portfolio" routerLinkActive="tt" >PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="tt" >CONTACT</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>